<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New User</title>
</head>
<body>
<h1>
    New User
</h1>
<p>Navigation</p>
<a href="/">Home</a>
<a href="/userList">User List</a>

<form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
    <p><input type="text" th:field="*{name}" /></p>
    <p><input type="text" th:field="*{lastName}" /></p>
    <p><input type="text" th:field="*{email}" /></p>
    <p><input type="text" th:field="*{company}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>